<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SG"
            connectionString="Data Source=RO-MSIT-OSHADA;Initial Catalog=SmartGraphy.OnlineOrderingSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>